<footer class="container text-center mt-5 fixed-bottom">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot;
            Built with <span class="text-danger">&hearts;</span> by <strong>Engineers of Sup Galilée</strong>
        </small>
    </p>
</footer>